<div class="intro-main-div">
    <div class="welcome-title-div">
        <h1 class="header-welcome">Welcome To YumeKōdo!</h1>
        <h5 class="website-info-text">Your Gateway To Immersive Indie Games With Yume By Your Side</h5>
    </div>
    <div class="introducing-yume">
        <h1 class="header-yume">Who Is Yume ?</h1>
        <h5 class="introducing-yume-text-pt-1">Yume Is Your Built-In, Rule-Based AI Here To Help You Navigate</h5>
        <h5 class="introducing-yume-text-pt-2">And Enjoy Everything YumeKōdo Has To Offer</h5>
    </div>
    <div class="image-wrapper">
        <img class="yume-image-direct" src="assets/images/intro_image.png" alt="Yume - Your AI Gaming Assistant">
        <a routerLink="/games" class="games-button-link">
            <button class="btn-all-games">View All Games</button>
        </a>
    </div>
    <div class="small-offer">
        <h1 class="header-curiosity">Curious About Yume ?</h1>
        <h5 class="text-curiosity-question">Why Not Ask Her Yourself ?</h5>
        <a routerLink="/yume-chat" class="chat-button-link">
            <button class="offer-button-chat-w-yume">Chat With Yume</button>
        </a>
    </div>
</div>